body {
    margin: 0;
    padding: 0;
    display: flex;
    
   
    height: 100vh;
    background-color: #282c34;
}

.stretch-box {
    width: 200px;
    height: 200px;
    background-color: #ff6600;
    border-radius: 10px;
    transition: width 2s ease-in-out;
}

.stretch-box:hover {
    width: 400px;
}
