 div {
    margin: 200px;
    padding:50px;
    box-sizing: border-box;
    background-color: rgb(97, 150, 248);
    width: 250px;
    height: 250px;
    text-align: center;
   



    
}

.Fiona:hover{
    transition: 10sec;
    transform: rotate(280deg);

}
